<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="css/homecs.css">
    <link rel="stylesheet" type="text/css" href="js/app.js">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    
    <style>
     .container {
  position: relative;
  height:"300px";
   width:"300px";

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
     
</style>
   
    
    <title>Customer service </title>
  </head>
  <body>
    

    <div class="header">

        <nav class=" navbar navbar-style navbar-expand-sm  ">
            
          <div class="container ">
              
              <div class="navbar-header">
                
                <a class="nav-link" href=""> <img class="logo" src="img/logo.jpg"> Electronic equipayment cell management System </a>
              </div>
              <ul class=" nav navbar-nav navbar-right ">
                <li class="nav-item" >
                    <a class="nav-link" href=""> 
                        <img src="http://mafiashades.com/shared/img/search.png" style="width:21px; height:auto; " class="search-icon-click">
                        <input type="text" class="search-show shweb_searcher" placeholder="Search..." style="border-top: none; border-right: none; border-left: none; border-image: initial; background-color: transparent; font-size: 15px; outline: none; border-bottom: 1px solid rgb(153, 153, 153);" autofocus=""></a>
                    
                </li>

                 
                     <li  class="nav-item">

                      <a class="nav-link">
    
                        <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog cascading-modal" role="document">
                          
                            <div class="modal-content">
                        
                              <table class="table table-hover ">
   
                                <tbody>
                                  <tr>
                                    <%  if(user) { %>
                                    <td style="text-align: center" >
                                      <a ><i>  <%= user.username %> </i> </a>
                                    
                                    </td>
                                    <%} else  { %>
                                    <td style="text-align: center" >
                                      <a href="/cregister"> New customer? <i>  Sign Up</i> </a>
                                    
                                    </td>
                                    <% } %>
                                  </tr>

                                  <tr>
                                    <td  style="text-align: center" > 
                                      
                                      <a  href="/account/?rd=0&amp;link=home_account"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="" viewBox="0 0 16 14"><path fill="#2874F1" fill-rule="nonzero" d="M7 .333A6.67 6.67 0 0 0 .333 7 6.67 6.67 0 0 0 7 13.667 6.67 6.67 0 0 0 13.667 7 6.67 6.67 0 0 0 7 .333zm0 2c1.107 0 2 .894 2 2 0 1.107-.893 2-2 2s-2-.893-2-2c0-1.106.893-2 2-2zM7 11.8a4.8 4.8 0 0 1-4-2.147C3.02 8.327 5.667 7.6 7 7.6c1.327 0 3.98.727 4 2.053A4.8 4.8 0 0 1 7 11.8z"></path></svg><i >My Profile</i></a>

                                    </td>
                                   
                                  </tr>
                                  <tr>
                                    <td style="text-align: center">
                                    
                                      <a  href="/order"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" class="" viewBox="0 0 16 12"><g fill="none" fill-rule="evenodd"><path fill="#2874F1" d="M6.038 11.682h8.407c.565 0 1.018-.38 1.13-.855V.847H.426v9.98c0 .475.452.855 1.017.855h2.232v-2.98H1.94L4.776 6l2.996 2.703H6.038v2.98z"></path></g></svg><i >Orders</i></a>
                                    </td>
                            
                                  </tr>

                                  <tr>
                                    <td style="text-align: center">
                                    
                                      <!--  <a  href="/clogout" width="16" height="12" class="fa">&#xf090; <i >logout</i></a> --> 
                                      <a  class="nav-link" href="/clogout"> <i class="fa fa-sign-in"></i>logout  </a>
                                      
                                    </td>
                            
                                  </tr>

                                 


                                </tbody>
                              </table>
                              <div class="modal-c-tabs">
                                
                               
                                  <div class="options text-right">
                                   
                                  </div>
                                  <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                              
                        
                    
                          </div>
                        </div>
                    
                    </div>
                  
                   
                    
                    <%  if(user) { %>

                    <div class="dropdown">
                     
                      <a data-toggle="modal" data-target="#modalLRForm">
                        
                        <button type="button" class="btn btn-outline-primary"> <%= user.username %> Id: <%= user.id %>  <!-- <a href="/logout"> Logout</a>  --></button>
                        
                     <!-- 
                        <img src="http://mafiashades.com/shared/img/login-inactive-desktop.png" class="yes-cursor" style="width:21px;" >
                       -->
                      </a>
                    </div>
                    <%} else  { %>


                    <div class="dropdown">
                     
                      <a data-toggle="modal" data-target="#modalLRForm">
                        
                        <button type="button" class="btn btn-outline-primary">Login</button>
                        
                     <!-- 
                        <img src="http://mafiashades.com/shared/img/login-inactive-desktop.png" class="yes-cursor" style="width:21px;" >
                       -->
                      </a>
                    </div>
                    <% } %>

                
                     </a>

                </li>

                

              <!--
                <li  class="nav-item">
                  <a class="nav-link" href="#">  <img src="http://mafiashades.com/shared/img/cart-inactive-desktop.png" style="width:21px;"> <i> Cart</i> </a>
               </li>
              

 -->
               <li  class="nav-item">
                <a class="nav-link" href="/order">  <img src="http://mafiashades.com/shared/img/cart-inactive-desktop.png" style="width:21px;"> <i> description</i> </a>
             </li>
             

              </ul>
            </div> 
          </nav>


          
    <div class="header">
       
          <%  if(user) { %>
          <div class="container-fluid" style=" background-color: #ffffcc;" >
         
            <div class="row"> 
              <div class="hovereffect"></div>
                <% product.forEach(function(product) { %>
                 
                  <span class="col-lg-4 col-md-4 col-sm-4 col-12" > 
                    
               <div class="container " >
                <img class="h-40 mb-4 mx-auto" class="img-fluid" src="/img/<%= product.image1 %>"  alt="Avatar" class="image"  height="300px" width="300px">
               <div class="overlay">
                  <div class="text">
  
                    <div class="text-center">
              
                      <h2 class="mb-4 text-lg"><%= product.name %></h2>
                      <div class="flex items-center justify-around mt-6">
                          <span class="font-bold text-lg">Price : ₹<%= product.price %></span>
                          <br> <br>
  
                        
                        <button type="button" class="btn btn-info" >  <a  href="/description/<%=product._id %> " role="button">
                              <span class="ml-4">View Details</span> 
                          </a>
                        </button>
                       
                        <button type="button" class="btn btn-info" >  <a  href="/buyproduct/<%=product._id %> " role="button">
                          <span class="ml-4">BUY NOW</span> 
                      </a>
                    </button>
                        
                      </div>
                     </div>
              
                   
                  
                  </div>
                </div>
                
              </div>
  
             
                      </span>
                    
            
                <% }) %>
              
              </div>
           
            
          </div>        
     </div>

     <%} else  { %>

      <div class="container">
             <h3 class="text-center p-3"> Customer Register : </h3>
             <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-5 customborder">
     
                 <% if(typeof err != 'undefined') {%>
                 <div class="alert alert-dismissible alert-danger">
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                     <strong><%= err %></strong>
                 </div>
                 <% } %>
                 <form action="/register" method="POST">
                     <div class="form-group">
                         <label for="email">Enter Your Email</label>
                         <input type="email" class="form-control" name="email" id="email" autocomplete="off"
                             placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>">
                     </div>
                     <div class="form-group">
                         <label for="username">Choose A Username</label>
                         <input type="text" class="form-control" name="username" id="username" autocomplete="off"
                             placeholder="Username" value="<%= typeof username != 'undefined' ? username : '' %>">
                     </div>
                     <div class="form-group">
                         <label for="password">Choose A Password</label>
                         <input type="password" class="form-control" name="password" id="password" autocomplete="off"
                             placeholder="Password">
                     </div>
                     <div class="form-group">
                         <label for="confirmpassword">Confirm Your Password</label>
                         <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"
                             autocomplete="off" placeholder="Confirm Password">
                     </div>
                     <div class="form-group">
                         <input type="submit" class="btn btn-block btn-outline-primary" value="Register">
                     </div>
                     <p>Already Registered ? <a class="card-link" href="/clogin">LOGIN Here</a> </p>
                 </form>
             </div>
         </div>
         <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
             integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
             crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
             integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
             crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
             integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
             crossorigin="anonymous"></script>
     
     
                  <% } %>
        </div>   
      </div>

       <br><br> 
<div class="hidden-xs no-pad footer-nav-mobile pdtop15">
  <div class="cleaarfix"></div>
  
  <div class=" pd10r pd10l"><div style="border-top:solid 2px #333;"></div></div>
  
  <div class="" style="width:60%; margin:auto;">
      <br>
  
      <center class="font21"><b>Need Help</b></center>
      
      <br>
      
      <div class="text-center">
        <div id="" class="pd10r">
          <div class="category-slider-mobile">
            <div class="content-mobile">
              
              <a href="http://mafiashades.com/about-mrshareef/">
                <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/about-us.png"><br><span>About Us</span></div>
              </a>
         <nav class=" navbar navbar-style navbar-expand-lg  ">
    
           <div class="container-fluid ">
            <ul class=" nav navbar-nav navbar-right ">

               <li>
                <a href="http://mafiashades.com/contact-mrshareef/">
                  <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/contact-us.png"><br><span>Conatct Us</span></div>
                </a>
               </li>
             
        

             
               <li>
                <a href="return-policy-mrshareef/">
                  <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/return-policy.png"><br><span>Return Policy</span></div>
                </a>
               </li>
            
             

              
                <li>
                  <a href="http://mafiashades.com/my-orders/">
                    <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/track-order.png"><br><span>Track Order</span></div>
                  </a>
                </li>
              
              

              
                <li>
                  <a href="http://mafiashades.com/my-orders/">
                    <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/cancel-order.png"><br><span>Cancel Order<span></span></span></div>
                  </a>
                </li>
            
        
                <li>
                  <a href="http://mafiashades.com/my-orders/">
                    <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/return-order.png"><br><span>Return Order<span></span></span></div>
                  </a>
                </li>
            
        

             
               
                <a href="http://mafiashades.com/privacy-policy-mrshareef/">
                  <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/privacy-policy.png"><br><span>Privacy Policy<span></span></span></div>
                </a>
               </li>
             
             

  
               <li>
                <a href="http://mafiashades.com/terms-and-conditions-mrshareef/">
                  <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/terms-and-conditions.png"><br><span>Terms <br>&amp; <br>Conditions<span></span></span></div>
                </a>
               </li>
            
            

              
                <li>
                  <a href="http://mafiashades.com/complaints-and-solutions-mrshareef/">
                    <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/complaints-and-solutions.png"><br><span>Complaints <br>&amp; <br>Solutions<span></span></span></div>
                  </a>
                </li>
              
              </ul>
              </div>
         </nav>

            </div>
          </div>
        </div>
      </div>
      
      <div class="clearfix"></div>
      <br><br>
      
      <div class="paymentCont pay-icon pdtop30">
          <div class="headingWrap text-center font21 pay-icon col-xs-12 no-pad pdtop15">
              <center class="font21"> <b>100% Secure Payment</b> </center>
          </div>
          <br>
          <div class="col-xs-12 pdtop15 payicon text-center">
              <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 1.png"></span>
              <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 2.png"></span>
              <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 3.png"> </span>
              <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 4.png"></span>
              <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 5.png"></span>
              <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 6.png"></span>
          </div>	
      </div>
  </div>
  
  <div class="clearfix"></div>
  <br>






<br>
<br>
<br>




    </div>

  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>